@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  body {
    font-feature-settings: 'ss06', 'ss07';
  }
  ::selection {
    background-color: #0A2540;
    color: white;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
